html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.dark-theme, .light-theme {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
}

h1, h2 {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0; 
}

li {
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid;
    background: transparent;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border 0.3s;
    border-radius: 5px;
}

button + button {
    margin-left: 10px;
}

button:hover {
    background-color: currentColor;
    color: var(--background-color);
}

.fireworks {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
}

.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
}
